*.class

*.jar
*.war

*~

target/
bin/
lib/

nb-configuration.xml
nbactions.xml

.metadata
.classpath
.settings
.project

.idea
*.iml

~                                                                                                                                               
~                                                                                                                                               
~                                                                                                                                               
~         
